<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.caelum.casadocodigo" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/casadocodigo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"

        android:name=".aplication.CasaDoCodigoStore">
        <activity
            android:name=".activity.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LivroActivity"
            android:label="@string/livro"/>

        <activity android:name=".activity.CarrinhoComprasActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/carrinho"/>

        <activity android:name=".activity.AutorActivity"
            android:label="@string/autores"/>
    </application>

</manifest>
